*{
    margin: 0;
    padding: 0;
}
.full-website{
    width: 1024px ;
    
    background-color: rgb(112, 66, 66);
    margin: 30px auto;

}
/* header-menu */
.header-menu{
    height: 200px;
    background-color:#34495e;

}
.header-menu{}
.header-menu ul {
    list-style: none;
    text-align: center;
    padding: 34px;
}
.header-menu ul li {
    display: inline-block;
    padding: 27px 7px;
}
.header-menu ul li a {
    color: #34495e;
    text-decoration: none;
    background-color:#e67e22;
    padding: 14px 23px;
}
/* .header-menu ul li a:hover{
    background-color: #5e6f81;
}
.div-01:hover{
    background-color: #e67e22;
} */
.div-01 {
    height: 30px;
    margin-top: -14px;
    width: 7px;
    position: absolute;
    margin-left: 315px;
    background-color: #fff;
}
.div-02 {
    height: 30px;
    margin-top: -14px;
    margin-left: 420px;
    width: 7px;
    background-color: #fff;
}
.div-03 {
    height: 30px;
    margin-top: -30px;
    margin-left: 521px;
    width: 7px;
    background-color: #fff;
}
.div-04 {
    height: 30px;
    margin-top: -30px;
    margin-left: 627px;
    width: 7px;
    background-color: #fff;
}
.star-01 {
    font-size: 30px;
    margin-left: -317px;
    color: #e67e22;
}
.star-02 {
    font-size: 30px;
    margin-left: -110px;
    margin-top: -34px;
    color: #e67e22;
}
.star-03 {
    color: #e67e22;
    font-size: 30px;
    margin-top: -36px;
    margin-right: -92px;
}
.star-04 {
    font-size: 30px;
    color: #e67e22;
    margin-left: 306px;
    margin-top: -33px;
}
/* header-menu */


/* main-bannear */
.main-bannear{
    height: 450px;
    background-color: #e1e1e1;
    position: relative;
}
#our {
    font-size: 40px;
    text-align: center;
    display: inherit;
    position: relative;
    padding-top: 25px;
    color: #3c5e3c;
}
.border-div {
    height: 15px;
    /* background-color: #e67e22; */
    position: absolute;
    margin-top: 38px;
    border-top: 6px dashed #3c5e3c;
    width: 1024px;
}
.banner-box-01 {
    height: 220px;
    text-align: center;
    margin-top: 116px;
    margin-left: 48px;
    width: 203px;
    background-color: #eee7e7;
    border-radius: 30px;
    box-shadow: -2px 0px 11px 0px #000000c7;
}
.tag-h2 {
    font-size: 18px;
    margin-top: 5px;
    color: #774040;
}
.banner-box-01:hover{
    background-color: #39a9fe;
    transition: .3s;
    
}
.banner-box-02{
    background-color: #eee7e7;
    height: 220px;
    margin-left: 405px;
    width: 203px;
    border-radius: 30px;
    box-shadow: -2px 0px 11px 0px #000000c7;
    margin-top: -221px;
    text-align: center;
}
/* p {
    color: #774040;
    text-align: center;
    position: absolute;
    letter-spacing: 1px;
    margin: 48px 391px;
} */
i{
    font-size: 44px;
    margin-top: 20px;
    color: #3c5e3c;
}
.digital-markting {
    /* margin: auto; */
    color: #774040;
    font-size: 19px;
    position: absolute;
    margin: 75px -93px;
}

.banner-box-02:hover{
    background-color: #39a9fe;
    transition: .3s;
}
.banner-box-03 {
    height: 220px;
    width: 203px;
    background-color: #eee7e7;
    margin-top: -220px;
    margin-left: 743px;
    border-radius: 30px;
    box-shadow: -2px 0px 11px 0px #000000c7;
    text-align: center;
    position: relative;
}
p {
    color: #774040;
    text-align: center;
    /* position: absolute; */
    /* margin: 34px 278px; */
    left: -5px;
}
.graphic-design{
    margin: 76px -88px;
    font-size: larger;
    color: #774040;
    position: absolute;
}
.banner-box-03:hover{
    background-color: #39a9fe;
    transition: .3s;
}



.p-tag{

}
/* main-bannear */


/* fotter-bannear */
.fotter-bannear{
    height: 450px;
    background-color: #9b59b6;
}
.round-01 {
    height: 100px;
    width: 100px;
    background-color: #34495e;
    position: absolute;
    margin-top: 13px;
    border-radius: 50%;
    margin-left: 323px;
    border: 4px dotted #e67e22;
}
.round-02 {
    height: 100px;
    width: 100px;
    background-color: #34495e;
    position: absolute;
    margin-top: 13px;
    border-radius: 50%;
    margin-left: 639px;
    border: 4px dotted #e67e22;
}
.round-03 {
    height: 100px;
    width: 100px;
    background-color: #34495e;
    position: absolute;
    margin-top: 143px;
    border-radius: 50%;
    margin-left: 751px;
    border: 4px dotted #e67e22;
}
.round-04 {
    height: 100px;
    width: 100px;
    background-color: #34495e;
    position: absolute;
    margin-top: 143px;
    border-radius: 50%;
    margin-left: 198px;
    border: 4px dotted #e67e22;
}

.round-05 {
    /* background-image: url(./jillur.jpg); */
    height: 150px;
    max-width: 100%;
    position: absolute;
    width: 150px;
    margin: 99px 449px;
    border-radius: 50%;
    border: 5px solid #e67e22;
    background-color: #34495e;
}
.lakha-div{
    position: absolute;
	top: 0;
	left: 0;
	color:rgb(107, 6, 240);
	text-align: center;
	width: 0;
	background:#9edf8897;
	height: 0;
    visibility: hidden;
    transition: .5s;
    opacity: .1 ;
}
h4{
    margin-top: 111px;
}
.round-05:hover .lakha-div{
    height: 100%;
    width: 100%;
    visibility: visible;
    opacity: 1;
    border-radius: 50%;
}
/* .round-05:hover{
    height: 100%;
    width: 100%;
    max-width: 100%;
    visibility: visible;
    background: beige;
} */
/* img{
    position: absolute;
} */
.ligin-page {
    text-align: center;
    position: absolute;
    margin: 285px 414px;
}
.frist-01 {
    height: 28px;
    width: 183px;
    border-radius: 17px;
    padding-left: 28px;
}
.frist-02 {
    height: 28px;
    width: 183px;
    border-radius: 17px;
    padding-left: 28px;
}
.frist-03 {
    height: 40px;
    width: 107px;
    background-color: #9b59b6;
    border-radius: 17px;
    border: 2px solid black;
    color: #fff;
    padding-left: 2px;
    text-align: center;
}
/* fotter-bannear */


/* bottom-section */
.bottom-section{
    height: 70px;
    background-color: #34495e;
}
p {
    color: rgb(213, 194, 194);
    text-align: center;
    position: absolute;
    margin: 29px 524px;
}
/* bottom-section */









/* .hop{
    width: 300px;
    border: 3px solid red;
    height: 300px
    b
} */
img{
    max-width: 100%;
    border-radius: 50%;
}
img:hover{
    
}

.test-div-01{
    height: 60px;
    width: 60px;
    background-color: #9b59b6;
}
